.logo {
    width: 150px;
}

/* .article-card { */
    /* margin-top: 100px;  */
    /* margin: 7rem auto;
    max-width: calc(100% - 80px);
} */

.pagination {
    margin-top: 30px;
}

.nav-menu {
    font-family: 'Lato',sans-serif;
    font-weight: normal;
    }

.card-img-top{
    width: 100px;
    height: 150px;
}

.center {
    margin-left: 40%;
}

.site-container {
 margin-top: 7rem;
}
.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill(265px,1fr));
    gap:2rem;
}
.article-image {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.article-card {
    background: white;
    border-radius: 20px;
    transition: 0.3s;
}

.article-card:hover {
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2) ;
    cursor: pointer;
}
.article-content {
    padding: 2rem;
}
.article-content .card-category {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}
.article-content .card-title {
    margin: 1rem 0;
    color: #22447b;
}
.article-content .card-expert {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fddb3a;
    margin: 0;
}

img .fullHD {
    max-width: 100%;
    height: auto;
}